.bargraph {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 900px;
  margin: auto;

  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.1) 2%,
    transparent 2%
  );
  background-size: 100% 50px;
  background-position: left top;

  li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 200px;
    padding: 0 1em;
  

  span {
    display: block;
    position: relative;
    background: rgba(63, 145, 203, 1);
    animation: draw 1s ease-in-out;

    &:hover {
      &:after {
        content: attr(data-value);
        font-size: 1.2ch;
        position: absolute;
        background: rgba(22, 52, 80, 1);
        top: -27px;
        color: #fff;
        padding: 5px 0;
        z-index: 98;
        width: 100%;
        text-align: center;
      }
      &:before {
        border: solid;
        border-color: rgba(22, 52, 80, 1) transparent;
        border-width: 6px 6px 0 6px;
        top: -8px;
        left: 13px;
        content: "";
        position: absolute;
        z-index: 99;
      }
    }
  }
}
}

// animation draw
@keyframes draw {
  0% {
    height: 0;
  }
}
