.yaxis {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  transform: translate3d(100%, -12%, 0);
  span {
    position: relative;
    color: #ffffff;
    background: #3f91cb;
    font-size: 10px;
    padding: 5px;
    width: 35px;
    text-align: right;
    font-weight: 600;
    &:after {
      content: "";
      position: absolute;
      left: -24px;
      bottom: 0;
      top: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-right: 24px solid #3f91cb;
    }
  }
}