.header {
    h1 {
        font-size: 2rem;
        font-weight: 600;
        padding: 40px;
        text-align: center;
        border-bottom: 10px solid #DDEDF5;
        border-bottom-right-radius: 50%;
        border-bottom-left-radius: 50%;
        background-color: #ffffff;
    }
}