.header {
    h1 {
        font-size: 2rem;
        font-weight: 600;
        padding: 20px;
        margin:30px;
        text-align: center;
        border-bottom: 10px solid #DDEDF5;
        border-radius: 50%;
    }
}