.progressbar {
  position: relative;
  display: flex;
  flex: 1;
  align-items: flex-end;
  padding: 0 1em;
  max-width: 40px;
  span {
    flex: 1;
    position: relative;
    background: rgba(63, 145, 203, 1);
    animation: draw 1s ease-in-out;
    &:hover {
      &:after {
        content: attr(data-value);
        font-size: 12px;
        position: absolute;
        background: rgba(22, 52, 80, 1);
        top: -27px;
        color: #fff;
        padding: 5px 0;
        z-index: 98;
        width: 100%;
        min-width: 30px;
        text-align: center;
      }
      &:before {
        content: "";
        border: solid;
        border-color: rgba(22, 52, 80, 1) transparent;
        border-width: 6px 6px 0 6px;
        top: -8px;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        z-index: 99;
      }
    }
  }
}

// animation draw
@keyframes draw {
  0% {
    height: 0;
  }
}

/* Smartphones */

@media only screen and (max-width: 414px) {
  body {
    background-color: red;
  }
}

/* iPads (portrait and landscape) ----------- */

@media only screen and (min-device-width: 750px) and(max-device-width: 1024px) {
  body {
    // background-color: blue;
  }
}

/* Desktops and laptops ----------- */

@media only screen and (min-width: 1224px) {
  body {
    background-color: green;
  }
}